<div class="d-flex justify-content-center align-items-center h-100">
    <div class="d-flex align-items-center h-100" style="max-width: 600px !important; ">
        <div class="p-5  rounded border-2 shadow text-center">
            <div class="row">
                <p class="fs-2 fw-medium">Reset Password</p>
                <p class="text-secondary pt-1 fs-5 lh-base">Enter you email and we'll send you a link to reset your
                    password</p>
            </div>
            <form [formGroup]="resetForm">
                <mat-form-field appearance="outline">
                    <mat-label>Enter password</mat-label>
                    <input formControlName="password" matInput [type]="hide1 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if(resetForm.get('password')?.hasError('required') &&
                    resetForm.get('password')?.touched){
                    <mat-error>Please enter an password</mat-error>
                    }
                    @if(resetForm.get('password')?.hasError('pattern') &&
                    resetForm.get('password')?.touched){
                    <mat-error>Please choose a stronger password. Try a mix of letters,
                        numbers, and symbols.</mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input matInput formControlName="confirmPassword" [type]="hide2 ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if(resetForm.get('confirmPassword')?.hasError('required') &&
                    resetForm.get('confirmPassword')?.touched){
                    <mat-error> Please confirm your password</mat-error>
                    }
                    @if(resetForm.get('confirmPassword')?.hasError('passwordMismatch') ){
                    <mat-error>Passwords do not match</mat-error>
                    }
                </mat-form-field>
                <div class="mt-1 row row-gap-4">
                    <div class="col-12">
                        <button mat-raised-button color="primary" class="w-100" type="submit"
                            (click)="reset()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>